@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Open Sans', sans-serif;
}

header{
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0px 1px 20px rgba(139, 139, 139, 0.65);
}

.icon-nav{
   cursor: pointer;
}

.icon-nav i{
   color: #777777;
   font-size: 25px;
}

nav{
   display: none;
}

nav a{
   color: #777777;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 600;
   margin: 0 10px;
   transition: all .3s;
}

nav a:hover{
   color: #C2185B;
}

/* Banner */
.banner{
   width: 100%;
   height: 235px;
   background-color: red;
   background-image: url("../images/banner.png");
   background-repeat: no-repeat;
}

section{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* Section finding your style */
.your-style{
   padding: 20px 0;
}

.your-style h1{
   font-style: normal;
   font-weight: 800;
   font-size: 30px;
   line-height: 82px;
}

.your-style img{
   width: 100%;
}

.your-style-images{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.image-1{
   width: 200px;
}

.image-2{
   width: 250px;
}



/*Tablet*/
@media (min-width: 768px){
   .icon-nav{
      display: none;
   }

   nav{
      display: block;
   }

   .banner{
      background-size: cover;
      background-position: right;
   }

   .your-style-images{
      margin-top: 20px;
      flex-direction: row;
      justify-content: space-around;
   }

   .image-1{
      width: 230px;
   }

   .image-2{
      width: 320px;
   }

}

/* PC's */
@media (min-width: 1024px){
   .banner{
      background-position: center;
      background-size: cover;
   }

   .your-style h1{
      font-size: 40px;
      margin: 20px 0;
   }

   .image-1{
      width: 400px;
   }

   .image-2{
      width: 600px;
   }
}